includes:
  - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
  level: 7
  paths:
    - src
    - tests
  tipsOfTheDay: false
  ignoreErrors:
    # https://github.com/phpstan/phpstan-strict-rules/issues/36
    - message: '#Dynamic call to static method PHPUnit\\Framework\\.*#'
      path: tests/*
